<header class="">

  <nav class="navbar navbar-expand-lg ">
    <div class="container">
      <a class="navbar-brand" href="{% url 'core:index'%}"><h2>Hệ thống <em>BoEC</em></h2></a>
      <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'product:search'%}">
        {%csrf_token%}
        <input name="text_search"class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'core:index'%}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/product">Our Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart"><i class="fas fa-shopping-cart"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'order:manage'%}">đơn hàng</a>
          </li>
        
          <li class="nav-item">
            {% if user.id is None %}
            <a class="nav-link" href="/account/login"> Login</a>
            
           
            {% else %}
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user"></i>{{user}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">{{user.id}}</a>
                <a class="dropdown-item" href="{% url 'user:purchase'%}">Đơn mua</a>
                <a class="dropdown-item" href="{% url 'user:address'%}">Địa chỉ</a>
                <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
              </div>
            </div>
              {%endif %}  
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Page Content -->
<!-- Banner Starts Here -->
