{% extends 'homepage/base.html' %}
{% load static %}
{% block contentblock %}
<main style="padding-top:50px;">
  <div class="products container">
    <div class="row p-3 border">

     
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Detail Product</h2>


        </div>
      </div>
      <div class="col-md-4">
        <div class="right-image">
          <img src="{{list.thumbnail}}" alt="">
        </div>
      </div>
      <div class="col-md-8">
        <div class="left-content ">
          <h4>{{list.title}}</h4>
          <p class="my-2">{{list.desc}} Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere similique esse
            voluptates accusamus omnis corporis voluptatum pariatur, dignissimos explicabo at. Fugiat necessitatibus
            fugit consequatur debitis quod eligendi inventore. Quam, corporis!</p>
          <span class="my-3">Số lượng: </span> <input type="number" min="1" value="1" id="product_number">
          <div class="my-3"><span>Giá: </span><strong>{{list.sale_price}}</strong></div>
         
          <div>
            {% for option in list.productoption_set.all %}
            <span>{{option.name_option}}</span>
            {% for value in option.productoptionvalue_set.all %}
            <button>{{value.name_option}}</button>
            {%endfor%}
            {%endfor%}
          </div>
          <div class="my-3">
            <a href="#" class="btn btn-danger btn-outline-danger" name="addCart" data-id="{{list.id}}">Thêm vào giỏ
              hàng</a>
            <a href="#" class="btn btn-danger ">Mua ngay</a>
          </div>
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
   
  
    {% for cm in comments %}
    <div class="row mt-3 py-2 border-bottom border-top">
      <div class="col-md-3 d-flex">
        <img
          src="https://images.unsplash.com/photo-1523215108660-3fdf7932d7a5?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=745&q=80"
          alt="" class="avatar_comment">
         <div class="ml-3">
          <span class="ml-2">{{cm.user}}</span>
          <div class="rating" data-id="">
            <span name="star" class="fa fa-star  {% if cm.rating > 0 %} checked{% endif %}"></span>
            <span name="star" class="fa fa-star  {% if cm.rating > 1 %} checked{% endif %}"></span>
            <span name="star" class="fa fa-star  {% if cm.rating > 2 %} checked{% endif %}"></span>
            <span name="star" class="fa fa-star {% if cm.rating > 3 %} checked{% endif %}"></span>
            <span name="star" class="fa fa-star {% if cm.rating > 4 %} checked{% endif %}"></span>
          </div>
         </div>
      </div>
      <div class="col-md-6 h-50">
        <p style="font-size:20px">{{cm.comment}}</p>
        <small>Nhận xét vào: {{cm.create_at}}</small>
      </div>
    </div>
    {% endfor%}
  <!-- <div class="row mt-3 py-2 border-bottom border-top">
    <div class="col-md-3 d-flex">
      <img
        src="https://images.unsplash.com/photo-1523215108660-3fdf7932d7a5?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=745&q=80"
        alt="" class="avatar_comment">
       <div class="ml-3">
        <span class="ml-2">Vũ Minh</span>
        <div class="rating" data-id="">
          <span name="star" class="fa fa-star "></span>
          <span name="star" class="fa fa-star "></span>
          <span name="star" class="fa fa-star "></span>
          <span name="star" class="fa fa-star"></span>
          <span name="star" class="fa fa-star"></span>
        </div>
       </div>
    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit am Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit corporis eligendi nulla beatae tempore quasi non iste! Magni, cumque modi molestiae inventore suscipit tempore. Minima earum sed aperiam dolorem? Iusto?</p>
      <span>Nhận xét vào: 09/04/2021</span>
    </div>
  </div> -->
  </div>
</main>
{%endblock%}