<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header{
            padding: 50px;
            background-color: #ccc;
        }
    </style>
</head>
<body>
    <header class="header">
        <h1>Shop</h1>
    </header>
    {% if user.id is None %}
        <h1>Home</h1>
        <p>Hi {{user.first_name}}</p>
        <form action="{% url 'account:logout'%}" method="post">
            <input type="submit" value="Logout">
            {% csrf_token %} 
        </form>
    {% else %}
        <p>Please <a href="{% url 'account:login'%}">Login</a> Or <a href="{% url 'account:register'%}">Register</a></p>
        <p>Hi {{user.username}}</p>
    {%endif%}
</body>
</html>